body{
    background-image:url("https://images.pexels.com/photos/792972/pexels-photo-792972.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-size:cover;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    color:yellowgreen;
    text-align: center;
    padding-top: 120px;
}

.see{
    text-align: center;
    padding: 25px;
    border-color: cornflowerblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    justify-content: space-between;
}




