body{
    background-image:url("https://images.pexels.com/photos/792972/pexels-photo-792972.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-size:cover;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    color:yellowgreen;
    text-align: center;
    padding-top: 300px;
}

.see{
    text-align: center;
    padding: 120px;
    border-color: cornflowerblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    justify-content: space-between;
}
input[type=text]{
    width: 20%;
    padding: 50px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 30%;
    border: 2px grey;
}
input[type=text]:hover{
    background-color: grey;
} 
button{
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 30%;
}
button:hover {
    background-color: grey;
}
footer{
    text-align: center;
    
}
#demo{
    text-align: center;
    color: yellow;
    font-size: 50px;
  }
  




